<div class="filter-container ml-2">
    <div class="ft-fluid">
    <div class="Filter">
        <p class="font-weight-bold filtertext"> Filters</p>
    <div class="">
        <p class="launch">  launch year </p>  
    </div>
    <div class="d-flex justify-content-around mt-2">
        <button type="button" class= "  btn btn-success buttonCondition" > 2006</button>
        <button type="button"class="  btn btn-success  buttonCondition"  > 2007</button>
    </div>
    <div class="d-flex justify-content-around mt-2">
        <button type="button" class= "  btn btn-success buttonCondition" > 2006</button>
        <button type="button"class="  btn btn-success  buttonCondition"  > 2007</button>
    </div>
    <div class="d-flex justify-content-around mt-2">
        <button type="button" class= "  btn btn-success buttonCondition" > 2006</button>
        <button type="button"class="  btn btn-success  buttonCondition"  > 2007</button>
    </div>
    <div class="d-flex justify-content-around mt-2">
        <button type="button" class= "  btn btn-success buttonCondition" > 2006</button>
        <button type="button"class="  btn btn-success  buttonCondition"  > 2007</button>
    </div>
</div>

<div class=" launchContainer pt-2">
   <p class="launch"> Successful launch  </p> 
    <div class="d-flex justify-content-around ">
        <button type="button" class=" btn btn-success buttonCondition" > True</button>
    <button type="button"class= "  btn btn-success buttonCondition"  > False</button>
    </div>
</div>

<div class="SuccessfullandingConatiner pt-2">
   <p class="launch "> Successful Landing </p>  
    <div class="d-flex justify-content-around">
        <button type="button" class="  btn btn-success buttonCondition" > True</button>
    <button type="button"class="  btn btn-success  buttonCondition"  > False</button>
    </div>
</div> 
</div>
</div>
