<div class="filter-container ">
    <div class="ft-fluid">
    <div class="Filter">
        <p class="font-weight-bold filtertext"> Filters</p>
    <div class="">
        <p class="launch">  launch year </p>  
    </div>
    <div class="row mt-2" *ngFor="let year of years" > 
        <div class="col-2">
              <button type="button" class= "  btn btn-success buttonCondition" (click)="getData()"> {{year}}</button>
             </div>
      
        
    </div>
</div> 

<div class=" launchContainer pt-2">
   <p class="launch"> Successful launch  </p> 
    <div class="d-flex justify-content-around ">
        <button type="button" class=" btn btn-success buttonCondition" > True</button>
    <button type="button"class= "  btn btn-success buttonCondition"  > False</button>
    </div>
</div>

<div class="SuccessfullandingConatiner pt-2">
   <p class="launch "> Successful Landing </p>  
    <div class="d-flex justify-content-around">
        <button type="button" class="  btn btn-success buttonCondition" > True</button>
    <button type="button"class="  btn btn-success  buttonCondition"  > False</button>
    </div>
</div> 
</div>
</div>
