<div class="filter-container ">
    <div class="ft-fluid">
    <div class="Filter">
        <p class="font-weight-bold filtertext"> Filters</p>
    <div class="">
        <p class="launch">  launch year </p>  
        <hr class="App-filters-hr" />
    </div>
    <div class=" row mt-2" > 
        <div class=" col-6 "  *ngFor="let year of years">
            <!-- App-filter-button-container -->
              <button type="button"  routerLinkActive="active"  class= " App-filter-button btn btn-outline-success" (click)="getData(year)"> {{year}}</button>
             </div>
    </div>
</div> 

<div class=" launchContainer pt-2">
   <p class="launch"> Successful launch  </p> 
   <hr class="App-filters-hr" />
    <div class="d-flex justify-content-around ">
        <button type="button"   routerLinkActive="active" class=" App-filter-button btn btn-outline-success" (click)="getSuccessfulLaunch(true)" > True</button>
        <button type="button"  routerLinkActive="active" class=" App-filter-button btn btn-outline-success" (click)="getSuccessfulLaunch(false)" > False</button>
      </div>
</div>

<div class="SuccessfullandingConatiner pt-2">
   <p class="launch "> Successful Landing </p>  
   <hr class="App-filters-hr" />
   <div class="d-flex justify-content-around ">
    <button type="button"   routerLinkActive="active" class=" App-filter-button btn btn-outline-success" (click)="getSuccessfulLand(true)" > True</button>
    <button type="button"  routerLinkActive="active" class=" App-filter-button btn btn-outline-success" (click)="getSuccessfulLand(false)" > False</button>
  </div>
</div> 
</div>
</div>
